
body {

    font-family: "Graphik Black","Arial Black",Sans-Serif;
    /* Ubicaci칩n de la imagen */
    background-image: url(images/fondo1.jpg);
    
    /* Para dejar la imagen de fondo centrada, vertical y horizontalmente */
    background-position: center center;
    
    /* Para que la imagen de fondo no se repita */ 
    background-repeat: no-repeat;
    
    /* La imagen se fija en la ventana de visualizaci칩n para que la altura de la imagen no supere a la del contenido */
    background-attachment: fixed;
    
    /* La imagen de fondo se reescala autom치ticamente con el cambio del ancho de ventana del navegador */ 
    background-size: cover;
    
    /* Se muestra un color de fondo mientras se est치 cargando la imagen de fondo o si hay problemas para cargarla */
    background-color: #6441A5;   
}


/*body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #6441A5; 
    background: -webkit-linear-gradient(to right, #2a0845, #6441A5);
    background: linear-gradient(to right, #2a0845, #6441A5);

}*/

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}